/***************DIV************/
#vb_page_head{
	float: right;
	margin: 1.5% 1% 0 0;
	font-size:65%;
	display:block;
}

#vb_alpha{
	float: left;
	margin: 3% 0% 0 6%;
	font-size: 85%;
}

#vb_head_controls{
	float: left;
	margin : 2.5% 0 0 1%;	
}

#vb_head{
	height : 600px;
}

#vb_head_drop{
	float: right;
	margin: 2.7% -25% 0% 0%;
}

#vb_foot_pgn8{
	float: right;
	/*margin: -2% 0% 0 0;*/
	font-size:65%;
}

#vb_foot_drop{
	float: right;
	margin: 2.7% -25% 0 0;
}

#vb_search{
	/*
	float: left;
	
	*/
	margin: 3% 6% -3% 0%;
}

/*********tr***************/


th{
	font-size:16px;
}

td{
	font-size:14px;
}

tr:nth-child(odd){
	background-color: #F0F0F0;
}

tr:nth-child(even){
	background-color: #ffffff;
}

/************li**************/
#dl_modal:nth-child(odd){
	background-color: #F0F0F0;
}