td.image img{
	width: 7em;
	height: 5em;	
	outline:solid 1px #eee;
}
tr.product-parent td{
	vertical-align:middle !important;
}
tr.product-parent{
	cursor:pointer;
}
tr.product-child{
	display:none;
}
tr.selected{
	background:#aef !important;
}
tr.product-parent:hover{
	outline:solid 1px #ccc;
}
ul.pagination{
	font-size:0.75em;		
	margin:0px;
}