select.form-control {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  padding: 0 2px;
}

.variation-hex {
	font-size: 11px;
}

select.hex {
	border-radius: 4px;
	width: 100px;
}

.panel-customized {
  margin-bottom: 20px;
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.mmslabel-customized{
  padding-right: 30px;
  display: inline;
  padding: .2em .6em .3em;
  font-size: 12px;
  font-weight: normal;
  line-height: 1;
  color: #000;
  text-align: right;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}

.label-customized{
	font-weight: normal;
	font-size: 12px;
}

.form-control {
  display: block;
  width: 100%;
  height: 25px;
  font-size: 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-control-inline-customized{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.browse-custom{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

input.custom-input-browse {
	margin-bottom: 5px;
}

.form-control-inline {
	font-size: 12px;
	padding: 2px;
}

.input-group-addon{
	font-size: 10px;
	line-height: .8;
}

.panel-heading-customized{
	text-align: center;
}

.required-field{
	color: red;
	font-size: 16px;
}

.span-note{
	color: red;
	font-size: 12px;
}

.label-note{
	font-size: 11px;
	padding: 0;
}

/* upload file */
.input-file { 
	position: relative; 
} /* Remove margin, it is just for stackoverflow viewing */

.input-file .input-group-addon { 
	border: 0px; 
	padding: 0px;
}
.input-file .input-group-addon .btn { 
	border-radius: 0 4px 4px 0 
}

.input-file .input-group-addon input { 
	cursor: pointer; 
	position:absolute; 
	width: 72px; 
	z-index:2;
	top:0;
	right:0;
	filter: alpha(opacity=0);
	  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	  opacity:0; 
	  background-color:transparent; 
	  color:transparent; 
}

/* end upload file box */

.between {
	margin-bottom: 5px;
}

.between-side {
	margin-right: 20px;
}

.textarea-customized {
	font-size: 12px;
}

textarea.textarea-customized-long {
	font-size: 12px;
	height: 100px;
}

#circle {
    background: #aaa; 
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position:absolute;
    }
	
#circle2 {
    background: #ccc; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position:absolute;
	left: 2px;
	top: 2px;
    }
	
.circle-position {
    position:relative;
}

.demo-content{
        padding-left: -webkit-calc(17px);
        padding-left: -moz-calc(17px);
        padding-left: calc(15px);
}

/* apply to all starts */
#circleapply {
    background: #aaa; 
    width: 24px;
    height: 24px;
    border-radius: 50%;
    position:absolute;
	top: 8px;
    }
	
#circle2apply {
    background: #ccc; 
    width: 20px;
    height: 20px;
    border-radius: 50%;
    position:absolute;
	left: 2px;
	top: 10px;
    }

.demo-contentapply{
        padding-left: -webkit-calc(30px);
        padding-left: -moz-calc(30px);
        padding-left: calc(30px);
}

/* apply to all ends */

.number-incircle {
	margin: 5px;
	top: 2px;
}

#square {
    background: #aaa; 
    width: 20px;
    height: 20px;
    border-radius: 0;
    position: absolute;
    }

.side-note {
	padding-left: 25px;
}
	
.p-small {
	font-size: 11px;
}

.box-border {
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
	padding: 5px;
	height: 150px;
}

.vertical-scroll-only{
	overflow-y: auto;
    overflow-x: hidden;
}

.horizontal-scroll-only{
	overflow-y: hidden;
    overflow-x: auto;
}

.alignment-custom-right {
	float: right;
}

.table-customized {
	font-size: 12px;
}

.input-box-size {
	width: 200px;
}

.ckeck-align span.glyphicon {         
  opacity: 0;       
}
.btn.active span.glyphicon {        
  opacity: 1;       
}

.btn-group-sm > .btn {
	line-height: 1;
	border: 0;
	width: 100px;
}

.btn {
	text-align: left;
}

.ckeck-align {
	float: right;
}

.box-border-img {
	border: 1px solid #aaa;
	height: 140px;
	padding: 5px 5px 0 5px;
	overflow: auto;
}

.one {
  white-space: nowrap;
}

.p-inline {
	display: inline-block;
	float: none;
}

.col-custom {
	padding: 0 5px;
	margin: 0;
}

.padding-margin-zero {
	padding: 0;
	margin: 0;
}

#selectedFiles {
	white-space: nowrap;
}

#selectedFiles img{
	max-height: 75px;
}

.uploadFile{
	display: inline-block;
	padding: 0 5px;
	border-top: 1px solid #aaa;
	border-right: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	border-left: 1px solid #aaa;
}

.hideButton {
	height: 0px;
	overflow: hidden;
}

.imgRemove {
	float: right;
}

table#variation-table tr td, table#variation-table th{
	text-align:center;
	vertical-align:middle;
}

.es-color{
	background:#479cb8 !important;
	color:white !important;
}
.mms-color{
	background:#667f84 !important;
	color:white !important;
}

.color-variation-images{
	display:none;
}

/*#submit-buttons{
	display:none;
}*/

table#variation-primary-table th, table#variation-primary-table td{
	font-size:0.75em;
	text-align:center;
	padding:0px;
}
table#variation-primary-table tr{
	cursor:pointer;
}
table#variation-primary-table tr:hover{
	outline:solid 1px #ccc;
}
tr.selected{
	background:#aef !important;
}
.image-files{
	height:158px;
}
.image-files div{
	display:inline-block;
}
.image-files img{
	white-space:nowrap;
	width:140px;
	height:140px;
}


#image-holder{
	height: 140px;
    overflow-y: hidden;
    overflow-x: scroll;
    white-space: nowrap;
}